.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin-bottom: 64px;
  padding: 24px;

  font-size: #{$size-d}px;

  background-color: $black;
  border: 2px solid $pink;
  box-shadow: 10px 10px 0 0 $dgray;

  &:nth-of-type(4n+2),
  &:nth-of-type(4n+3) {
    border: 2px solid $violet;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 27px;

  font-size: (22em/$size-d);
  line-height: (27em/22);
}

.card__text {
  position: relative;

  max-height: 100px;
  overflow: hidden;

  transition: max-height 0.3s cubic-bezier(0.61, 0.87, 0.96, 0.99);
}

.card__button-wrap {
  position: absolute;
  right: 0;
  bottom: 0;

  display: none;
  justify-content: flex-end;
  width: 100%;
  height: auto;

  background-color: $black;
}

.card__text-button {
  padding-right: 0;

  text-decoration: none;
  text-align-last: left;

  background-color: $black;
  border: none;
  cursor: pointer;
}

.card__tag {
  display: inline-flex;
  margin-bottom: 4px;
  padding: 0 8px;

  font-size: 1em;
  line-height: (20em/$size-d);
  font-family: "Space Mono", monospace;
  color: $yellow;

  &--html {
    color: $orange;
  }

  &--css {
    color: $cyan;
  }

  &--sass {
    color: $pink;
  }

  &--gulp {
    color: $red;
  }

  &--resp {
    color: $green;
  }

  &--adpt {
    color: $bluegreen;
  }

  &--js {
    color: lighten($color: $yellow, $amount: 20);
  }
}

.card__button {
  margin-top: auto;
}

@media (max-width: $tablet) {
  .card {
    min-width: 345px;
    max-width: 420px;
  }
}
