.music {
  padding-bottom: 30px;
}

.music__inner {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.music__audio {
  margin-bottom: 10px;
}

.music__custom-audio {
  margin-bottom: 15px;
}
