.portfolio {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.portfolio__title {
  width: 100%;
}

@media (max-width: $tablet) {
  .portfolio {
    flex-direction: column;
    align-items: center;
  }
}
