@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibmplexsans-regular-webfont.woff") format("woff"),
    url("../fonts/ibmplexsans-regular-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibmplexsans-italic-webfont.woff") format("woff"),
    url("../fonts/ibmplexsans-italic-webfont.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibmplexsans-medium-webfont.woff") format("woff"),
    url("../fonts/ibmplexsans-medium-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibmplexsans-semibold-webfont.woff") format("woff"),
    url("../fonts/ibmplexsans-semibold-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibmplexsans-semibolditalic-webfont.woff") format("woff"),
    url("../fonts/ibmplexsans-semibolditalic-webfont.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("../fonts/ibmplexsans-bold-webfont.woff") format("woff"),
    url("../fonts/ibmplexsans-bold-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src:
    url("../fonts/spacemono-regular-webfont.woff") format("woff"),
    url("../fonts/spacemono-regular-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
