body {
  margin: 0 auto;
  overflow-x: hidden;

  font-family: $font;
  text-rendering: optimizeSpeed;
  font-size: #{$size-d}px;
  color: $lgray;

  background: $black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  min-width: $mobile;

  font-size: #{$size-d}px;

  @media (max-width: $tablet) {
    font-size: #{$size-t}px;
  }

  @media (max-width: $mobile) {
    font-size: #{$size-m}px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal-leading-zero;
}
