body {
  margin: 0 auto;
  background: $black;
  color: $lgray;
  font-family: $font;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal-leading-zero;
}
