// Fonts
$size-d: 18;
$size-t: 15;
$size-m: 13;
$font: "IBM Plex Sans", sans-serif;

// colors

$lgray: rgba(242, 239, 240, 1);
$dgray: rgba(56, 49, 64, 1);
$black:  rgba(37, 33, 45, 1);
$violet: rgba(121, 66, 97, 1);
$green: rgba(96, 159, 94, 1);
$cyan: rgba(0, 148, 121, 1);
$blue: rgba(42, 89, 96, 1);
$red: rgba(232, 82, 77, 1);
$yellow: rgba(215, 169, 72, 1);
$pink: rgba(173, 67, 82, 1);
$orange: rgba(227, 120, 81, 1);
$bluegreen: rgba(14, 115, 96, 1);

// dimensions

$tablet: 768px;
$mobile: 400px;
